$shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);

.searchStates {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;

    #state {
        width: 50%;
        padding: 5px;
    }

    .changeTheme {
        background-color: #1f2a65; 
        background-image: linear-gradient(180deg, #1f2a65 35%, #664e91 75%, #9461a1 89%);
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 5px;
        outline: none;
        box-shadow: $shadow;
    }
}